# Игнорирование файлов логов и данных
*.log
*.csv
*.dat

# Игнорирование директории .git и виртуальных сред Python
.git/
__pycache__/
*.pyc
../venv/
env/
.env

# Игнорирование некоторых конфигурационных файлов IDE и локальных тестовых данных
.idea/
*.swp
*.swo
.DS_Store
test/
tests/
coverage/