# Сохраняем Linux-окончания строк LF даже при checkout в Windows.
# Иначе CRLF может сломать выполнение Bash-скриптов и чтение конфигурации в Linux.
certbot/*.sh text eol=lf
certbot/logrotate.conf text eol=lf
