services:
  pgdb:
    image: postgres:16-alpine
    container_name: postgres_db
    env_file:
      - .env.dev
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"


  redis:
    image: redis:7-alpine
    container_name: redis_cache
    ports:
      - "6379:6379"


  django:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app:delegated
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    depends_on:
      - pgdb
      - redis


  celery-worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery_worker
    command: celery -A eazyclass worker --pool=prefork --concurrency=1 --loglevel=debug # заменить потом на info
    volumes:
      - .:/app:delegated
    env_file:
      - .env.dev
    depends_on:
      - pgdb
      - redis

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery_beat
    command: celery -A eazyclass beat --loglevel=debug --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - .:/app:delegated
    env_file:
      - .env.dev
    depends_on:
      - pgdb
      - redis

  flower:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery_flower
    command: celery -A eazyclass flower --address=0.0.0.0 --port=5555
    volumes:
      - .:/app:delegated
    ports:
      - "5555:5555"
    env_file:
      - .env.dev
    depends_on:
      - pgdb
      - redis


volumes:
  postgres_data:
