.form-row {
    margin-bottom: 15px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.col {
    margin-right: 10px;
}

.col label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #41758f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #205067;
}

.form-divider {
    border: 0;
    border-top: 1px solid #cccccc44;
    margin: 10px 0;
    width: 40%;  /* Линия будет растягиваться на всю ширину контейнера формы */
}

.checkbox-list {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-item {
    margin-right: 10px;
}


remove-form-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8f4141;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}