<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>EAZYCLASS</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Моё расписание</h1>
        </header>
        <section class="schedule">
            <h2>1 ИСиП-11</h2>
            <p class="week-selector">Текущая неделя: 22.04 - 28.04</p>
            <div class="day">
                <h3>Понедельник - 29 апреля</h3>
                <div class="class-time">1 <span>8:00-9:35</span> Математика <span>Иванов А.А. Каб: 1024</span></div>
                <div class="class-time">2 <span>9:45-11:20</span> Основы алгоритмизации <span>Петров А.А. Каб: 3516</span></div>
            </div>
            <div class="day">
                <h3>Вторник - 30 апреля</h3>
                <div class="class-time">1 <span>8:00-9:35</span> Математика <span>Иванов А.А. Каб: 1024</span></div>
                <div class="class-time">2 <span>9:45-11:20</span> Основы алгоритмизации <span>Петров А.А. Каб: 3516</span></div>
            </div>
        </section>
    </div>
</body>
</html>