# === TLS / Let's Encrypt ===

TLS_PRIMARY_DOMAIN=eazyclass.ru

# Домены для certbot (через -d)
TLS_DOMAINS="-d eazyclass.ru -d www.eazyclass.ru"

# Email для Let's Encrypt
TLS_EMAIL=you@example.com

# Время запуска renew (cron)
TLS_CRON_SCHEDULE="0 3 * * *"